/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(270deg, #00796b, #ff6f61, #00796b);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
    color: #fff; /* Set the default body color to white */
}

/* Header Styling */
.landing-page {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.subheading {
    margin: 20px 0;
    font-size: 1.2em;
    color: #fff;
}

/* Animated Gradient Heading */
.animated-gradient {
    background: linear-gradient(90deg, #00ffcc, #ff6f61);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 10s ease infinite;
}

/* Main Section */
main {
    padding: 20px;
}

/* Section Styling */
.fx-section {
    padding: 40px;
    background: #333;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    max-width: 800px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px 0;
}

input, button {
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
}

button {
    background-color: #00cc99;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #009966;
    transform: scale(1.05);
}

/* Table Styling */
#fxResult table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #444;
    color: #fff;
}

#fxResult th, #fxResult td {
    padding: 12px 15px;
    border: 1px solid #00cc99;
    text-align: center;
}

#fxResult th {
    background-color: #00cc99;
    color: #fff;
    font-weight: bold;
}

#fxResult td {
    background-color: #333;
    transition: background-color 0.3s;
}

#fxResult td:hover {
    background-color: #555;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Animation for Gradient Background */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Responsive Design */
@media (max-width: 600px) {
    .fx-section {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    label, input, button {
        font-size: 0.9em;
    }
}
