/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(270deg, #00796b, #ff6f61, #00796b);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
    color: #fff; /* Set the default body color to white */
}

/* Header Styling */
.landing-page {
    /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.animated-gradient {
    background: linear-gradient(90deg, #00ffcc, #ff6f61);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 10s ease infinite;
}

/* Graph Section */
.graph-section {
    padding: 100px;
    background: #333;
    margin: 40px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    max-width: 800px ;
    display: flex; /* Use flexbox to arrange elements horizontally */
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.graph-section div {
    /* ... other styles */
    flex: 1; /* Ensure both divs take up equal space */
    margin-bottom: 10px;
}
button {
    /* ... other styles */
    align-self: center; /* Center the button within its parent container */
}

input, select, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    align-items: center;
}

button {
    background-color: #00cc99;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    align-items: center;
}

button:hover {
    background-color: #009966;
}

/* Animations */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Responsive Design */
@media (max-width: 800px) {
    .landing-page {
        padding: 10px;
    }
}